/* Noel Glamann
Nov. 06, 2020 */

body {
	background: #FF7171;
	color: black;
}

.unique {
	border: solid 3px black;
	display: block;
	width: 40%;
	float: right;
}

.unique img {
	margin: auto;
	display: block;
	width: 85%;
}